body {
  background-color: #c4c4c4;
}
header {
  background-color: #ffffff;
}
footer {
  background-color: #ffffff;
}
nav {
  background-color: #ffffff;
}

.card {
  background-color: #fff;
  width: 304px;
  padding: 3px;
}
.card__title {
  color: #282828;
  font-size: 14px;
}
.card__description {
  color: #282828;
  font-size: 12px;
}
.card__img-top {
  margin-bottom: 10px;
  width: 288px;
  height: 182px;
}
